:root{
    --header-bg-color: #282828;
    --header-font-color: white;
    --selected-bg-color: #1482cc;
    --error-color: #d32f2f;
    --default-panel-bg-color: #fff;
    --default-font-color: rgb(51, 51, 51);
    --default-border-color: #ccc;
    
    --body-bg-color: #eee;
    --pages-container-border-color: var(--default-border-color);
    
    --button-bg-color: #e0e0e0;
    --button-bg-active-color: #ddd;
    --button-text-shadow-color: rgba(243, 243, 243, 0.7);
    --input-bg-color: #fff;
    
    --checkbox-border-color: #888;
    
    --icon-filter: brightness(0) invert(15%);
    --field-padding: .5em;
}

html.dark-theme{
	--default-panel-bg-color: #333;
	--default-font-color: #fff;
	--default-border-color: #484848;
	
	--body-bg-color: #262626;
	--pages-container-border-color: transparent;
	
	--button-bg-color: #444;
	--button-bg-active-color: #333;
	
	--button-text-shadow-color: rgba(0, 0, 0, 0.7);
	--input-bg-color: #393939;
	
	--checkbox-border-color: #fff;
	
	--icon-filter: brightness(0) invert(100%);
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	line-height: 1.3;
	color: var(--default-font-color);
    background: var(--body-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/***** layout-elements *****/

body > *:not(.pages) {
	display: none;
}

.pages{
	position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    
    background: var(--default-panel-bg-color);
    box-shadow: 
    	1px 1px 0 var(--pages-container-border-color),
    	-1px -1px 0 var(--pages-container-border-color)
    	;
    	
    display: flex;
    flex-direction: column;
}

@media(min-width:768px){
	
	body{
		display: flex;
		align-items: center;
	}  
}

@media(min-width: 800px){
	
	.pages{
		max-width: 600px;
	}
}

@media(min-height: 1000px){
	
	.pages{
		max-height: 800px;
	}
}
	
.page{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translate(-2000%);
}

html.consent-required #consent,
.page:first-child{
	transform: translate(0);
}

.page > .center{
    flex: 1;
	padding: 16px;
	overflow: auto;
}

.page > .center > *:first-child{
    margin-top: 0;     
}

header{
    position: relative;
    width: 100%;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    height: 3rem;
    display: flex;
    align-items: center;    
}

header > img{
	position: absolute;
	left: 18px;
	top: 11px;
	height: calc(3rem - 20px);
}

.dialog {
	display: block;
	text-align: center;
	opacity: 0;
	z-index: -1;	
	font-size: 3rem;
	
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin-top: 0 !important;
	background: var(--default-panel-bg-color);
	transform: none;
	
	opacity: 0;
}

.dialog.showing {
	opacity: 1;
	z-index: 1000;
}

body.updateInstalled > .pages > .page{
	padding-bottom: 60px !important;
}

body.updateInstalled > .pages > #reloadForUpdate{
	display: block;
	bottom: 0;
	width: 100%;
	padding: 0 16px;
	margin-top: auto;
	height: 60px;
	border-top: 1px solid var(--default-border-color);
}

#reloadForUpdate {
	display: none;
}

#reloadForUpdate > button {
	background-color: #1a7540;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.7) 0 1px 0;
}

#reloadForUpdate > button:before{
	background-image: url(../img/reload.svg);
	background-size: 24px;
	filter: brightness(0) invert(100%);
}

/***** end layout-elements *****/

header h1{
    text-align: left;
    flex: 1;
    padding: .7em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0 !important;
    min-height: 1.1em;
    font-size: 1em;
    width: 100%;
    margin: 0 0.5rem;
}

header button{
    height: 100%;
    margin: 0;
    border: 0;
    background: center center no-repeat;
    position: relative;
    z-index: 10;
}

header button:empty{
	width: 3rem;
}

header button.back:before{
    background-image: url(../img/ic_arrow_back_24px.svg);
}

h2 {
	margin-top: 1.1rem;
	font-size: 1.15rem;
}

h3 {
	font-size: 1rem;
}

a, button {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin: .5em 0;
    padding: .7em 1em;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid var(--default-border-color);
    color: var(--default-font-color);
    text-shadow: var(--button-text-shadow-color) 0px 1px 0px;
    background: var(--button-bg-color);
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    position: relative;
}

.splitButton {
	background: var(--button-bg-color);
	margin: .5em 0;
	width: 100%;
	text-align: center;	
	font-size: 16px;
	line-height: 0;
	position: relative;
}

.splitButton > .delete {
	width: 3rem;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.splitButton > button {
	margin: 0;	
}

.splitButton > *:first-child {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding-right: 3rem;
}

.splitButton > *:last-child {
	border-left: 0;
}

a{
    text-decoration: none;
}

a:before,
button:before,
.icon:before {
	content: '';
	position: absolute;
	display: inline-block;
	left: 0;
	top: 0;
	width: 3rem;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	filter: var(--icon-filter);
}



header button {
	filter: brightness(0) invert(100%);
}

.icon:empty{
	position: relative;
}

.icon:empty:before{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.field{
    border: 1px solid var(--default-border-color);
}

.field + .field{
	border-top: 0;
}

label {
	font-size: 1rem;
	position: relative;
}

label + input,
input + label {
	margin-left: 10px;
}

input[type="text"],
input[type="number"]{
    display: block;
    width: 100%;
    border: 1px solid var(--default-border-color);
    padding: var(--field-padding);
    line-height: 1.4em;
    outline: 0;
    background: var(--input-bg-color);
    color: inherit;
    font-size: 1rem;
}

input[type="text"] {
	order: 1;
}

input[type="text"] + label {
	order: 0;
	margin-left: 1rem;
	margin-right: 1rem;
}

input[type="number"]{
	text-align: right;
}

input[type="number"]::-webkit-inner-spin-button {
	/* add space to increment/decrement-control on desktop-chrome */
	margin-left: 10px;
}

input[type="radio"]{
    display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	display: inline-block;
	height: 100%;
	padding: var(--field-padding);
	width: 100%;
	cursor: pointer;
}

input[type="radio"] + label:before {
    content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: 1rem;
	vertical-align: middle;
	border: 1px solid #aaa;
}

input[type="radio"] + label:before{
    border-radius: 50%;
}

input[type="radio"]:checked + label:before {
    background-color: var(--icon-color);
    box-shadow: inset 0 0 0 5px #1482cc;
}

.page#consent {
	background: var(--body-bg-color);
	pointer-events: none;
}

.page#consent a{
	pointer-events: all;
}

/***** form-elements *****/

/*
	Expected markup:
	 
	<input type='checkbox' class='checkbox' id='someId'>
	<label for='someId'>
		labelText
		<div class='control'></div>
	</label>
*/

input[type='checkbox'] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

input[type='checkbox'] + label{
	position: relative;
	cursor: pointer;
    display: inline-flex;
    line-height: 1.25em;
	align-items: center;	    
}

input[type='checkbox'] + label > .control{
	order: -1;
	display: inline;
	position: relative;
	margin-right: 1em;
	width: 1.25em;
	height: 1.25em;
	background: inherit;
	border: 2px solid;
	border-color: var(--checkbox-border-color);
	border-radius: 0.125em;
	cursor: pointer;
	transition: background .3s;
}

input[type='checkbox'] + label > .control:after{
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

input[type='checkbox']:checked + label > .control {
	background: var(--selected-bg-color);
    border:none;
}

input[type='checkbox']:checked:disabled + label > .control {
	background: grey;
    border:none;
}

input[type='checkbox']:disabled + label > .control {
	background: none;
    border-color: grey;
}

input[type='checkbox']:checked + label > .control:after {
    transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
	width: 0.75em;
	height: 0.375em;
	border: 2px solid #fff;
	border-top-style: none;
    border-right-style: none;
}

/***** aux classes *****/

.vcenter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

html:not(.iphone) .iphone-only{
	display: none;
}

.display-flex{
	display: flex;
	align-items: center;
}

.display-flex h3 {
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

.flex-1{
	flex: 1;
}

