:root{
    --header-bg-color: #282828;
    --header-font-color: white;
    --selected-bg-color: #1482cc;
    --error-color: #d32f2f;
    --default-panel-bg-color: #fff;
    --default-font-color: rgb(51, 51, 51);
    --default-border-color: #ccc;
    
    --body-bg-color: #eee;
    
    --button-bg-color: #e0e0e0;
    --button-bg-active-color: #ddd;
    --button-text-shadow-color: rgba(243, 243, 243, 0.7);
    --input-bg-color: #fff;
    
    --icon-filter: brightness(0);
    --field-padding: .5em;
}

html.dark-theme{
	--default-panel-bg-color: #333;
	--default-font-color: #fff;
	--default-border-color: #484848;
	
	--body-bg-color: #262626;
	
	--button-bg-color: #444;
	--button-bg-active-color: #333;
	
	--button-text-shadow-color: rgba(0, 0, 0, 0.7);
	--input-bg-color: #393939;
	
	--icon-filter: brightness(0) invert(100%);
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	line-height: 1.3;
	color: var(--default-font-color);
    background: var(--body-bg-color);
}


/***** layout-elements *****/

.pages{
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 800px;
    background: var(--default-panel-bg-color);
    box-shadow: 
    	1px 1px 0 var(--default-border-color),
    	-1px -1px 0 var(--default-border-color)
    	;
}

@media(min-width:768px){
	
	body{
		display: flex;
		align-items: center;
	}  
}

.page{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 600px;
	max-height: 800px;
	transform: translate(-2000%);
}

.page:first-child{
	transform: translate(0);
}

.page > .center{
    flex: 1;
	padding: 1em;
	overflow: auto;
}

.page > .center > *:first-child{
    margin-top: 0;     
}

.dialog {
	display: block;
	text-align: center;
	opacity: 0;
	z-index: -1;	
	font-size: 3rem;
	transition: all 0.5s;
	
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin-top: 0 !important;
	background: var(--default-panel-bg-color);
	opacity: 0;
}

.dialog.showing{
	transition: all 0.7s;	
	opacity: 1;
	z-index: 1000;
}

header{
    position: relative;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/***** end layout-elements *****/



header h1{
    text-align: center;
    flex: 1;
    padding: .7em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0 !important;
    min-height: 1.1em;
}

header button{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3rem;
    margin: 0;
    border: 0;
    background: center center no-repeat;
}

header button.back{
    background-image: url(../img/ic_arrow_back_24px-fff.svg);
}

h1 {
	font-size: 1em;    
}

h2 {
	font-size: 0.95rem;
}

h3 {
	font-size: 0.9rem;
}

a, button {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin: .5em 0;
    padding: .7em 1em;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid var(--default-border-color);
    color: var(--default-font-color);
    text-shadow: var(--button-text-shadow-color) 0px 1px 0px;
    background: var(--button-bg-color); 
}

a{
    text-decoration: none;
}

.icon:before{
	content: '';
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	filter: var(--icon-filter);
}

.icon:empty{
	position: relative;
}

.icon:empty:before{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.field{
    border: 1px solid var(--default-border-color);
}

label {
	font-size: 1rem;
	position: relative;
}

input[type="text"], input[type="number"]{
    display: block;
    width: 100%;
    border: 0;
    padding: var(--field-padding);
    line-height: 1.4em;
    outline: 0;
    background: var(--input-bg-color);
    color: inherit;
    font-size: 1rem;
}

input[type="number"]{
    text-align: right;
}

input[type="checkbox"],
input[type="radio"]{
    display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label
{
	display: inline-block;
	height: 100%;
	padding: var(--field-padding);
	width: 100%;
	cursor: pointer;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before
{
    content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: 1rem;
	vertical-align: middle;
	border: 1px solid #aaa;
}

input[type="checkbox"] + label:before{
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:before {
	background: url(../img/ic_check_24px.svg) center 0 no-repeat;
	background-size: 110% 110%;
	filter: var(--icon-filter);
}


input[type="radio"] + label:before{
    border-radius: 50%;
}

input[type="radio"]:checked + label:before {
    background-color: var(--icon-color);
    box-shadow: inset 0 0 0 5px #1482cc;
}

.controlGroup > .field:not(:first-child){
    border-top: 0;
}

/***** aux classes *****/
.vcenter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
