#menu>button {
	margin-top: 1rem;
}

.fromTo:last-child {
	margin-top: 1rem;
}

.fromTo td:last-child {
	width: 100%;
}

.fromTo label {
	margin-right: 0.5rem;
	margin-left: 1.5rem;
}

.fromTo input {
	width: 100%;
}

#startBtnArea, #lastGameTimeWrapper {
	text-align: center;
}

#menu table {
	font-size: 2rem;
}

#menu table tr:not (:first-child ) td {
	padding-top: 0.5rem;
}


#arities {
	text-align: left;
}


#game {
	display: table;
	font-size: 2.5rem;
	text-align: center;
	border-collapse: collapse;   	
}

#game .task, #game .answer {
	height: 6rem;
	line-height: 6rem;
	background: white;
}

#game .task {
	border-bottom: 1px solid #aaa;
}

#game.auditive .task {
	display: none;
}

#game .answerWrapper{
    display: none;
}

#game.auditive .answerWrapper.auditive{
	display: table-row;
}

#game:not(.auditive) .answerWrapper.simple{
    display: table-row;
}

#game.auditive .answer {
	border-right: 1px solid #aaa;
}

#game .playAgainBtn {
	display: none;
}

#game.auditive .playAgainBtn {
	display: table-cell;
	width: 33.333333%;
	height: 9rem;	
}

#game .playIcon {
	background: url(//cdn.justedit.com/icomoon/play3.svg);
}

#game td, .auditive #playAgainBtn{
	width: 33.33333%;
	vertical-align: middle;
	text-align: center;
	background-color: #f4f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5),
		to(#dfdddd));
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#f4f5f5, endColorstr=#dfdddd);
	border-right: 1px solid #aaa;
}

#game td:last-child {
	border-right: 0;
}

#game td.touching, #playAgainBtn.touching {
	/* 	border: 1px solid #bfc4c4; */
	background-color: #d9dddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
	background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#d9dddd, endColorstr=#c6c3c3);
}