:root{
	--button-gradient-top-color: #eaebeb;
	--button-gradient-bottom-color: #dfdddd;
	--button-gradient-top-active-color: #d9dddd;
	--button-gradient-bottom-color-active: #c6c3c3;
	--correct-indication-bg: #22b560;
}

html.dark-theme{
	--button-gradient-top-color: var(--default-panel-bg-color);
	--button-gradient-bottom-color: var(--default-panel-bg-color);
	--button-gradient-top-active-color: var(--button-bg-active-color);
	--button-gradient-bottom-active-color: var(--button-bg-active-color);
	--correct-indication-bg: #1c954f;
}

.profileEnabled[data-checked='false'] + .field{
	display: none;
}

#mentalArithmeticMenu > button {
	margin-top: 1rem;
}

#mental-arithmetic-level-creation .controlGroup {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#mental-arithmetic-level-creation .controlGroup > .field[data-checked='false'] ~ * {	
	display: none;
}

.fromTo:last-child {
	margin-top: 1rem;
}

.fromTo td:last-child {
	width: 100%;
}

.fromTo label {
	margin-right: 0.5rem;
	margin-left: 1.5rem;
}

.fromTo input {
	width: 100%;
}

#startBtnArea, #lastGameTimeWrapper {
	text-align: center;
}

#mentalArithmeticMenu table {
	font-size: 2rem;
}

#mentalArithmeticMenu table tr:not(:first-child) td {
	padding-top: 0.5rem;
}

#arities {
	text-align: left;
}

.numberGame > table{
	flex: 1;
	display: table;
	font-size: 2.5rem;
	text-align: center;
	border-collapse: collapse;
	/* iphone needs height: full-height - header-height */
	height: calc(100% - 3rem);
}

.numberGame .task,
.numberGame .answer {
	height: 6rem;
	background-color: var(--input-bg-color);
	background-image: none;
}

.numberGame td{
	border-bottom: 1px solid var(--default-border-color);
}

.numberGame tr:last-child td{
	border-bottom: 0;
}

.numberGame.auditive .task {
	display: none;
}

.numberGame .answerWrapper{
    display: none;
}

.numberGame .answer.error{
	background: #b00002;
	color: white;
}

.numberGame .answer.correct{
	background: var(--correct-indication-bg);
	color: white;
}

.numberGame.auditive .answerWrapper.auditive{
	display: table-row;
}

.numberGame:not(.auditive) .answerWrapper.simple{
    display: table-row;
}

.numberGame.auditive .answer {
    border-right: 0;	
}

.numberGame.auditive .playAgainBtn {
	display: none;
	width: 33.333333%;
	height: 9rem;
/* 	background: linear-gradient(to bottom, #f4f5f5, #dfdddd); */
	background-size: 48px;
	border-left: 1px solid var(--default-border-color); 
}

.numberGame.auditive .playAgainBtn:before {
	background-image: url(../img/ic_play_arrow_24px.svg);
	background-size: 1em;
}

.numberGame.auditive .playAgainBtn {
	display: table-cell;
}

.numberGame td, .numberGame.auditive #playAgainBtn {
	width: 33.33333%;
	vertical-align: middle;
	text-align: center;
	background-color: var(--button-bg-color);	
	background-image: linear-gradient(to bottom, var(--button-gradient-top-color), var(--button-gradient-bottom-color));
	border-right: 1px solid var(--default-border-color);
	user-select: none;
}

.numberGame td:last-child {
	border-right: 0;
}

.numberGame td.touching, #playAgainBtn.touching {
	background-color: var(--button-bg-active-color);
	background-image: linear-gradient(to bottom, var(--button-gradient-top-active-color), var(--button-gradient-bottom-active-color));
}

#numberDictationGame .answer {
	height: 6rem;
	font-size: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--input-bg-color);
}

button.share:before {
	background-image: url(../img/ic_share_24px.svg);
}

button.download:before {
	background-image: url(../img/ic_file_download_24px.svg);
}

button.clear:before,
button.delete:before {
	background-image: url(../img/ic_delete_24px.svg);
}

a.createLevel:before {
	background-image: url(../img/plus-box.svg);
}

.splitButton > .delete {
	width: 3rem;
}

a[href='#listen-and-write-menu']:before {
	background-image: url(../img/ic_hearing_24px.svg);
}

a[href='#mental-arithmetic-menu']:before {
	background-image: url(../img/mental-arithmetic.svg);
}

a[href='#settings']:before {
	background-image: url(../img/ic_settings_24px.svg);
}

a[href='#statistics']:before {
	background-image: url(../img/chart-line.svg);
}

a[href='#manual']:before {
	background-image: url(../img/help-circle.svg);
	background-size: 24px;
}

a.web:before {
	background-image: url(../img/web.svg);
}

a[href='#scientific-studies']:before {
	background-image: url(../img/flask.svg);
	background-size: 24px;
}

a.github:before {
	background-image: url(../img/github-circle.svg);
}

text, circle {
	fill: var(--default-font-color);
}

.chartAxis {
	stroke: var(--default-font-color);
}

button.finishLevelCreation {
	margin-top: 1rem;
}

button.finishLevelCreation:before {
	background-image: url(../img/check-bold.svg);
}

.customLevels > .splitButton > button {
	overflow: visible;
	white-space: normal;
}

#statistics-chart .levelOptionsLabel {
	font-weight: bold;
	margin-bottom: 1rem;
}

.statisticsPage > .center:empty:after {
	content: 'Keine entprechenden Statistik-Daten verfügbar.';
}

body.updateInstalled > .pages > [id$='-game']:first-child {
	padding-bottom: 0 !important;
}

body.updateInstalled > .pages > [id$='-game']:first-child ~ #reloadForUpdate {
	display: none;
}

#manualContent {
	padding-left: 0;
	padding-right: 0;
}

#manualContent  > h2 {
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
}

#manualContent  > h2:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 3rem;
	background: url(../img/triangle-small-right.svg) center center no-repeat;
	filter: var(--icon-filter);
	transition: 0.5s;
}

#manualContent > h2 + .expandable {
	overflow: hidden;
	transition: 0.5s;
	border-bottom: 1px solid var(--default-border-color);
	padding-left: 16px;
	padding-right: 16px;
}

#manualContent > h2:not(.expanded) + .expandable {
	max-height: 0;
}

#manualContent > h2.expanded:after {
	transform: rotate(90deg);
}

#manualContent > h2.expanded + .expandable {
	max-height: max-content;
}

#buildVersion {
	text-align: center;
	padding: 0.5rem;
	font-style: italic;
}
